* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

#root {
  display: block;
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  font-size: 1.6rem;
  background-color: $color-purple;
  background-image: linear-gradient($color-aqua, $color-purple);
  color: $color-white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.col-4 {
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.main {
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color-light1, .5);
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 1.5em;
}

.form-control {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: $color-dark3;
  vertical-align: middle;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid $color-light2;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba($color-dark3,.075);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  border: 1px solid rgba($color-dark3,.2);
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-primary {
  color: $color-white;
  background-color: $color-blue;
}
