$color-aqua: #1cd2f2;
$color-blue: #1490eb;
$color-purple: #4400cc;

$color-white: #ffffff;
$color-light1: #f5f5f5;
$color-light2: #d1d5da;

$color-dark1: #363636;
$color-dark2: #4a4a4a;
$color-dark3: #24292e;

$font-family: 'Roboto', sans-serif;
