$color-white: rgb(255, 255, 255);
$color-aqua: rgb(28, 210, 242);
$color-purple: rgb(68, 0, 204);
$font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

#root {
  display: block;
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  font-size: 1.6rem;
  background-color: $color-purple;
  background-image: linear-gradient($color-aqua, $color-purple);
  color: $color-white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.col-4 {
  max-width: 400px;
  margin: 0 auto;
}

.hero {
  padding: 80px 20px;
}

.main {
  background-color: rgba(#f5f5f5, .5);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

